h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    color:green;
}

#Button-container {
   text-align: center;
}

#countlabel {
    font-size: 60px;
    font-weight: bold;
    color:none;
    display: block;
    text-align:center;
}

.buttons {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    color:blue;
    background-color:red;
    transition: background-color 0.25s;
}